@import url('https://fonts.cdnfonts.com/css/star-wars');


footer {
    background-color: #1c1a1af9;
    color: #FFFFFF;
    padding: 40px;
    margin-top: 60px;
    border-top: rgb(255, 225, 0);
    border-radius: 3px;
    border-style:double;

    p {
        font-size: 14px;
        color: #2e2929;
    }

    h2{
        font-size: 16px;
        font-family: 'Star Wars', sans-serif;

        display: center;
        color: rgb(255, 225, 0);
        margin-left: auto;
        margin-right: auto;
    }

}
.autoFlow {
    display: block;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    // align-items: center;
    gap: 8px;
}

.blue{
    width: 50px;
    float: left;
}

.green{
    width: 50px;
    float: right;
}